
@{
    ViewData["Title"] = "Index";
}
@section Style{
    <style>
        a{
            color:black;
            text-decoration: none;
        }

        
    </style>
}

<h1>Index</h1>
<button class="btn btn-info"><a href="~/Homework/Travels">作業一</a></button>
<button class="btn btn-warning"><a href="~/Homework/Register">作業二</a></button>
<button class="btn btn-info"><a href="~/Homework/RegisterAccount">作業三</a></button>
<button class="btn btn-warning"><a href="~/Homework/TaipeiSpots">作業四</a></button>

